__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

.ipynb_checkpoints/

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

.quarto/

*_cache/
*_files/

.DS_Store
Thumbs.db

.vscode/

*.swp
*.swo

dist/